@model ProjectAvonale.Models.RepositorioModel

@{
    ViewBag.Title = "BuscarRepositorio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BuscarRepositorio</h2>


@using (Html.BeginForm("Buscar", "Repositorios", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>RepositorioModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            <label class="control-label col-md-2">Nome</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buscar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Meus Repositórios", "Repositorios")
</div>*@

@* ALTERAR PARA PARTIAL VIEW *@

@{
    ViewBag.Title = "Repositorios encontrados";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<link rel="stylesheet" href="http://rafastavares.github.io/SitePessoal/public/css/projects.css">
<style>
    .github-box {
        height: 99px !important;
        max-height: 100px !important;
    }
</style>

<fieldset>

    @if (ViewBag.Repositories != null)
    {
        <div id="proj-git" class="proj-git">

            @foreach (var repo in ViewBag.Repositories)
            {
                <div class="github-repos" data-repo="@(repo.full_name)"></div>
            }
        </div>
    }
    else
    {
        <h4>Nenhum Projeto foi encontrado ou o limite de requisições para a API sem autenticação do Github foi excedido. </h4>
        <br>
        <h5> Consulte <a href="https://developer.github.com/v3/#rate-limiting">https://developer.github.com/v3/#rate-limiting</a>!</h5>
    }
</fieldset>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@
<script src="http://rafastavares.github.io/SitePessoal/public/js/jquery.github.repos.min.js"></script>
<script>
    $('.github-repos').githubRepos();
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
